{% extends "base.html" %}

{% block script %}
  <script src="views/movie.js" defer></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart', 'line']});
google.charts.setOnLoadCallback(drawBasic);

function drawBasic() {
      var data = new google.visualization.DataTable();
      data.addColumn('date', 'Date');
      data.addColumn('number', 'Popularity');
				
        /* Déclaration du tableau + ajout des éléments de arrayHistory dans ce dernier  */
				const arrayH = {
				  {% for history in arrayHistory %}
            {% for  key, value in history %}
               "{{ key }}":  {{ value }},
            {% endfor %}
          {% endfor %}
				};
       
      //boucle du tableau pour afficher toutes les données dans le graph 
      Object.keys(arrayH).forEach(key => { 
        data.addRows([
          [new Date(key),  arrayH[key]],

        ]);
			});
      var options = {
        title: 'Popularity/Date',
        width: 650,
        height: 400,
        backgroundColor: '#111',
        colors: ['#a60000'],
        titleTextStyle: {
        color: 'white'
   			 },
        hAxis: {
        	format: 'yy-MM-d',  
        	gridlines: {color: 'none'},
          title: 'Date',
          textStyle: {
            color: 'grey'
        	},
          titleTextStyle: {
            color: 'grey'
        	},
        },
        vAxis: {
        	title: 'Popularity',
          titleTextStyle: {
            color: 'grey'
        	},
          textStyle: {
            color: 'grey'
        	},
        },
        legend: {
        	textStyle: {
            	color: 'white'
        	},
        },
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

      chart.draw(data, options);
    }
    
    
  </script>
{% endblock %}
{% block stylesheet  %}
        {{ parent() }}
        <link type="text/css"  href="views/movie.css" rel="stylesheet" >
{% endblock %}

{% block body %}
    <!-- Bouton retour à la liste -->
      <div class="retour">
        <form action="?c=movie&t=getMovieGenres" method="post">
          <button name="emotion" value="{{ emotionId }}" class="btnRetour"><span>⬅️</span></button>
        </form>
      </div>
      <!-- Fin Bouton retour à la liste -->
    
    <header>
      <!-- POPUP TRAILER --> 
      <dialog id="btTrailer">
          <button id="closeBtn">❌</button>
          <div style="width: 100%; height: 100%">
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/{{keyTrailer}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
      </dialog>
      <!-- FIN POPUP TRAILER -->
      
      <!-- POPUP POPULARITY --> 
      <dialog id="btPopularity">
          <button id="closeBtnPop">❌</button>
              <div id="chart_div"></div>
      </dialog>
      <!-- FIN POPUP  POPULARITY -->
      
      
      
      
      <img src="https://image.tmdb.org/t/p/w300/{{ movie.posterPath }}"  alt="{{ movie.title }}"/>
      <div class="contents">
        <h1>  {{ movie.title }}  </h1>
        <button id="openBtn">▶️ Bande-Annonce</button>
        <p>Réalisateur : {{ director }}</p>
        <p> Genres : {{ movieGenres }}</p>
        <p>Langue original : {{ movie.originalLanguage }}</p>
        <p>Date de sortie  : {{ movie.releaseDate }}</p>
        <p>Popularité  : {{ movie.popularity }}  &ensp; <button id="openBtnPop"> More...</button> </p>
        
        <!-- Où est dispo le film   -->
        {% if arrayAvailability %}  <!-- Si le tableau contient des éléments alors -->
          <div class="dispo">
            <p>Disponible sur :</p>
            {% set y = 0 %}
            {% for availability in arrayAvailability %}
               {% set y = y + 1 %} <!-- Déclaration de y -->
               {% if y <= 2  %}
                 {% for value in availability %}
                      <img src="https://image.tmdb.org/t/p/w45/{{ value.logo_path }}"  alt="{{ value.provider_name }}" />
                 {% endfor %}
               {% endif %}
            {% endfor %}
          </div>
        {% endif %}
      </div>
      
      <div class="synopsis">
        <span> Synopsis : </span> 
        <p> {{ movie.overview }}</p>
      </div>
      <h2 name="titleActors">Acteurs principaux : </h2>
      
      <div class="divActor">
       
        {% set i = 0 %}
        <div class="actors">
          <!-- Boucle pour avoir juste les 10 premiers acteurs   -->
          {% for actor in cast %}
          {% set i = i + 1 %}
            {% if i <= 13  %}
            <div class="actor">
              <p>{{  actor.name }}</p>
              <img src="https://image.tmdb.org/t/p/w185/{{  actor.profile_path }}" alt="Photo de : {{ actor.name }}"/>
              <p>{{  actor.character }}</p>
              </div>
            {% endif %}
            
          {% endfor %}
        </div>
      </div>
    

 
</header>
{% endblock %}